body {
  background-color: black;
  color: white;
}


textarea{
  background-color: azure;
  color: black;
  width: 600px;
  height: 600px;
}

.previewarea {
  background-color: #b5dfa5;
  color: black;
  width: 600px;
  height: 600px;
  overflow: scroll;
}